body{ font-size:12px;height:100%;margin:0; padding:0; color:#1248AC;}
th{ font:normal 12px/22px arial; color:#000000;  border-left:1px solid #ffffff; text-align:left; padding-left:3px; background:#dcdcdc;}
.table-header{height:25px;background:#dcdcdc;border-bottom:1px solid #A4B5CB;}
.list-table td{line-height:20px;border-left:1px solid #dcdcdc;padding-left:3px;border-bottom:1px solid #dcdcdc;}

.treeview ul { background-color: white; }
.treeview, .treeview ul { 
	padding: 0;
	margin: 0;
    background-color: #000;
}

.treeview div.hitarea {
	height: 15px;
	width: 15px;
	margin-left: -15px;
	float: left;
	cursor: pointer;
}
/* fix for IE6 */
* html div.hitarea {
	background: #fff;
	filter: alpha(opacity=0);
	display: inline;
	float:none;
}

.treeview li { 
	margin: 0;
	padding: 3px 0pt 3px 16px;
}

.treeview a.selected {
	background-color: #eee;
    color:aqua;
}

#treecontrol { margin: 1em 0; }

.treeview .hover { color: red; cursor: pointer; }

.treeview li { background: url(tv-item.gif) 0 0 no-repeat; }
.treeview .collapsable { background-image: url(tv-collapsable.gif); }
.treeview .expandable { background-image: url(tv-expandable.gif); }
.treeview .last { background-image: url(tv-item-last.gif); }
.treeview .lastCollapsable { background-image: url(tv-collapsable-last.gif); }
.treeview .lastExpandable { background-image: url(tv-expandable-last.gif); }

.filetree li { padding: 3px 0 1px 16px; background-color:#000;}
.filetree span.folder, .filetree span.file { padding-left: 16px; display: block; width:100px; height: 15px; }
.filetree span.folder { background: url(folder.gif) 0 0 no-repeat;cursor:pointer}
.filetree span.file { background: url(file.gif) 0 0 no-repeat; cursor:pointer}
